body{
  margin: 0;
  padding: 0;
}

#header{
  width: 0;
  height: 0;
  background: #f4470d;
  float: left;
  color: #ffffff;
}

#logo{
  float: left;
}

#login{
  background: blue;
  width: 170px;
  margin: auto;
  margin-top: 30px;
}

.loginsection{
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  float: left;
  background: #f4470d;
}

    .loginsection a:link{
      color: white;
      text-decoration: none;
    }
    .loginsection a:visited{
      color: white;
    }
    .loginsection a:hover{
      color: #999;
    }

#logins{
  position: absolute;
  display: none;
  float: left;
}
#Logframe{
  width: 600px;
  height: 300px;
  background: white;
  margin: auto;
  margin-top: 150px;
  border-radius: 10px;
}

#signups{
  position: absolute;
  display: none;
  float: left;
}

#Registrationframe{
  background: white;
  margin: auto;
  border-radius: 10px;
  color: black;
}


.Logframes{
  width: 500px;
  height: 400px;
  margin: auto;
}

.Registrationframe{
  width: 500px;
  height: 400px;
  margin: auto;
}

.no{display: none;}


#exit{
  width: 100%;
  float: left;
  font-size: 20px;
}

#exit2{
  width: 20px;
  height: 20px;
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}
      #exit2 a:link{
        color: black;
        text-decoration: none;
      }
      #exit2 a:visited{
        color: black;
      }
      #exit2 a:hover{
        color: #999;
      }

#abc{
  color: black;
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

#facebook{
  width: 100%;
  height: 120px;
  float: left;
  text-align: center;
  margin-top: 20px;
}

#logout{
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: auto;
  border-radius: 10px;
  background: red;
  text-align: center;
}

#tt{
  float: right;
  display: none;
}

#tt2{
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

#tt3{
  float: left;
  width:150px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

#tt4{
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

#home{
  float: left;
}

#homes{
  float: left;
  background: url('./img/img.jpg');
  background-size: cover;
}

#home1{
  width: 40%;
  float: left;
  text-align: center;
}

#home2{
  width: 60%;
  float: left;
  text-align: center;
}

.apptext{
  margin-top: 10px;
}
.apptext2{
  margin-top: 20px;
}

.menu{
  margin: 10px;
  position: absolute;
  display: none;
}
#footer{
  width: 100%;
  min-height: 90px;
  float: left;
  text-align: center;
}

#footeroverview{
  width: 480px;
  height: 80px;
  margin: auto;
  margin-top:10px;
}

.overview{
  width: 120px;
  height: 80px;
  float: left;
}
.overviewtop{
  width: 120px;
  height: 50px;
  float: left;
}
.overviewbot{
  width: 120px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  color: black;
  font-size: 15px;
  font-family: 'open sans';
}

.imgoverview{
  margin:5px;
}

#overview1{
  width: 100%;
  height: 800px;
  float: left;
  background: url('./img/imgoverview.jpg') center no-repeat;
  background-size: cover;
}

#overview2{
  width: 100%;
  height: 800px;
  float: left;
  background: url('./img/imgoverview2.jpg') center no-repeat;
  background-size: cover;
}

#overview3{
  width: 100%;
  height: 800px;
  float: left;
  background: url('./img/imgoverview3.jpg') center no-repeat;
  background-size: cover;
  background-position: center center;
}

.div1{
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
    .div1 p{
      color: #7d8485;
    }
    .div1 h2{
      color: #4b4b4c;
    }
.div2{
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
}
    .div2 p{
      color: #7d8485;
    }
    .div2 h2{
      color: #4b4b4c;
    }

.textdiv{
  width: 100%;
  min-height: 100px;
  margin: auto;
  margin-top: 300px;
}
